/* Apply box-sizing: border-box globally */
* {
    box-sizing: border-box;
    /* You can add more styles here if needed */
}


.banner{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    margin-top:50px;
    width:auto;
    height:150px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner button{
    color:burlywood;
    border-color: burlywood;
    font-weight: bold;
    background-color: transparent;
    width:100px;
    height:40px;
    border-radius: 10px;
}

.banner button:hover{
    font-weight: bold;
    color:white;
    background-color: burlywood;
    transition:1s;
}

.firstRow{
    display:flex;
    margin-top:70px;
    width:auto;
    height:200px;
}

.box1{
    margin-left:200px;
    display:flex;
    width:500px;
    height:200px;
}

.box1 img{
    width:200px;
    height:150px;
    border:3px solid burlywood;
    border-radius: 10px;;
}

.img1{
    width:300px;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menuName1{
    padding-right:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    width:300px;
    height:200px;
}

.price1{
    font-weight: bold;
    font-size: 17px;
}

.desc1{
    color:gray;
    font-weight: bold;
    font-size:15px;
    margin-top:-5px;
}
.styled-span{
    color:burlywood;
}

.box2{
    margin-left: 10px;
    display:flex;
    width:500px;
    height:200px;
}

.box2 img{
    width:200px;
    height:150px;
    border:3px solid burlywood;
    border-radius: 10px;;
}

.img2{
    width:300px;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menuName2{
    padding-right:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    width:300px;
    height:200px;
}

.price2{
    font-weight: bold;
    font-size: 17px;
}

.desc2{
    color:gray;
    font-weight: bold;
    font-size:15px;
    margin-top:-5px;
}
.styled-span{
    color:burlywood;
}

.secondRow{
    display:flex;
    margin-top:20px;
    width:auto;
    height:200px;
}

.box3{
    margin-left:200px;
    display:flex;
    width:500px;
    height:200px;
}

.box3 img{
    width:200px;
    height:150px;
    border:3px solid burlywood;
    border-radius: 10px;;
}

.img3{
    width:300px;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menuName3{
    padding-right:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    width:300px;
    height:200px;
}

.price3{
    font-weight: bold;
    font-size: 17px;
}

.desc3{
    color:gray;
    font-weight: bold;
    font-size:15px;
    margin-top:-5px;
}
.styled-span{
    color:burlywood;
}

.box4{
    margin-left: 10px;
    display:flex;
    width:500px;
    height:200px;
}

.box4 img{
    width:200px;
    height:150px;
    border:3px solid burlywood;
    border-radius: 10px;;
}

.img4{
    width:300px;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menuName4{
    padding-right:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    width:300px;
    height:200px;
}

.price4{
    font-weight: bold;
    font-size: 17px;
}

.desc4{
    color:gray;
    font-weight: bold;
    font-size:15px;
    margin-top:-5px;
}
.styled-span{
    color:burlywood;
}

.thirdRow{
    display:flex;
    margin-top:20px;
    width:auto;
    height:200px;
}

.box5{
    margin-left:200px;
    display:flex;
    width:500px;
    height:200px;
}

.box5 img{
    width:200px;
    height:150px;
    border:3px solid burlywood;
    border-radius: 10px;;
}

.img5{
    width:300px;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menuName5{
    padding-right:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    width:300px;
    height:200px;
}

.price5{
    font-weight: bold;
    font-size: 17px;
}

.desc5{
    color:gray;
    font-weight: bold;
    font-size:15px;
    margin-top:-5px;
}
.styled-span{
    color:burlywood;
}

.box6{
    margin-left: 10px;
    display:flex;
    width:500px;
    height:200px;
}

.box6 img{
    width:200px;
    height:150px;
    border:3px solid burlywood;
    border-radius: 10px;;
}

.img6{
    width:300px;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menuName6{
    padding-right:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    width:300px;
    height:200px;
}

.price6{
    font-weight: bold;
    font-size: 17px;
}

.desc6{
    color:gray;
    font-weight: bold;
    font-size:15px;
    margin-top:-5px;
}
.styled-span{
    color:burlywood;
}

.fourthRow{
    display:flex;
    margin-top:20px;
    width:auto;
    height:200px;
}

.box7{
    margin-left:200px;
    display:flex;
    width:500px;
    height:200px;
}

.box7 img{
    width:200px;
    height:150px;
    border:3px solid burlywood;
    border-radius: 10px;;
}

.img7{
    width:300px;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menuName7{
    padding-right:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    width:300px;
    height:200px;
}

.price7{
    font-weight: bold;
    font-size: 17px;
}

.desc7{
    color:gray;
    font-weight: bold;
    font-size:15px;
    margin-top:-5px;
}
.styled-span{
    color:burlywood;
}

.box8{
    margin-left: 10px;
    display:flex;
    width:500px;
    height:200px;
}

.box8 img{
    width:200px;
    height:150px;
    border:3px solid burlywood;
    border-radius: 10px;;
}

.img8{
    width:300px;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menuName8{
    padding-right:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    width:300px;
    height:200px;
}

.price8{
    font-weight: bold;
    font-size: 17px;
}

.desc8{
    color:gray;
    font-weight: bold;
    font-size:15px;
    margin-top:-5px;
}
.styled-span{
    color:burlywood;
}